<p>change-password works!</p>

<div>

    <mat-card>
        <form [formGroup]="changePasswordForm">
            <mat-form-field>
                <input matInput [formControl]="changePasswordForm.controls.oldPassword" placeholder="old password">

            </mat-form-field>

            <mat-form-field>
                <input matInput [formControl]="changePasswordForm.controls.newPassword" placeholder="new password">
            </mat-form-field>

            <mat-form-field>
                <input matInput [formControl]="changePasswordForm.controls.newPasswordConfirmation"
                    placeholder="confirm New password">
            </mat-form-field>

            <button mat-button type="submit" (click)="ChangePassword()" class="submit-button">submit
            </button>
            @if(isSaving){
            <mat-spinner class="mat-spinner"> </mat-spinner>
            }
        </form>



    </mat-card>



</div>