<mat-icon class="navbar-icon-right" aria-hidden="false" aria-label="exit" fontIcon="close" class="close-button"
    (click)="returnToUserDetailsPage()"></mat-icon>

<div class="form-container">

    <mat-card>
        <form [formGroup]="changePasswordForm" (ngSubmit)="ChangePassword()" class="change-password-form">
            @if(isOldPasswordPresent){
            <mat-error>{{'changePassword.noOldPassword' | translate}}</mat-error>
            }
            <p>{{'changePassword.oldPassword' | translate}} </p>

            <input type="password" [formControl]="changePasswordForm.controls.oldPassword"
                placeholder="{{'changePassword.oldPassword' | translate}}">

            @if(isNewPasswordPresent){
            <mat-error>{{'changePassword.noNewPassword' | translate}}</mat-error>
            }
            <p> {{'changePassword.newPassword' | translate}} </p>
            <input type="password" [formControl]="changePasswordForm.controls.newPassword"
                placeholder="{{'changePassword.newPassword' | translate}}">

            @if(isNewPasswordConfirmationPresent){
            <mat-error>{{'changePassword.noNewPasswordConfirmation' | translate}}</mat-error>
            }

            @if(isNewPasswordConfirmationValid){
            <mat-error>{{'changePassword.newPasswordMismatch' | translate}}</mat-error>
            }
            <p> {{'changePassword.newPasswordConfirmation' | translate}} </p>
            <input class="input" type="password" [formControl]="changePasswordForm.controls.newPasswordConfirmation"
                placeholder="{{'changePassword.newPasswordConfirmation' | translate}}" class="form-input">

            @if (changeError) {
            <mat-error>{{'changePassword.error' | translate}}</mat-error>
            }



        </form>

        <button [disabled]="isSaving" class="submit-button" mat-raised-button type="submit" (click)="ChangePassword()"
            class="submit-button">{{'changePassword.buttonText' | translate}}
        </button>
        @if(isSaving){
        <mat-spinner class="mat-spinner"> </mat-spinner>
        }
    </mat-card>



</div>