<mat-dialog-content>
    <h2> {{'review.deleteWarning' | translate}}? </h2>

    <div>

        <h3> {{'review.by' | translate}}: {{data.review.username}}</h3>

        <h3> {{'review.description' | translate}}: </h3>


        <textarea disabled="true" class="review-textarea"> {{data.review.description}}</textarea>

    </div>

    <div class="button-row">
        <button mat-raised-button (click)="deleteReview()"> {{'review.delete' | translate}}</button>
        <button mat-raised-button (click)="closeDialog()"> {{'review.cancel' | translate}} </button>
    </div>
</mat-dialog-content>