<mat-dialog-content>
    <h2 mat-dialog-title> Select game to add to your list</h2>
    <mat-form-field>
        <mat-label>Select a game to add to your list</mat-label>
        <mat-select>
            <mat-option>

                <ngx-mat-select-search [formControl]="gameSearchCtrl" placeholderLabel="Search..."
                    noEntriesFoundLabel="No results found">
                </ngx-mat-select-search>
            </mat-option>


            @for (food of foods; track food) {
            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
            }
        </mat-select>

    </mat-form-field>

    <button (click)="addGameToUser()">add game to library</button>
</mat-dialog-content>