<mat-dialog-content>

    <mat-icon class="navbar-icon-right" aria-hidden="false" aria-label="exit" fontIcon="close" class="close-button"
        (click)="closeDialog()"></mat-icon>

    <h2 mat-dialog-title> {{'game.addModal.info' | translate}}</h2>
    <mat-label class="custom-label">{{'game.addModal.games' | translate}}</mat-label>

    <mat-form-field class="custom-form-field">
        <mat-select [formControl]="gameCtrl" placeholder="{{'game.addModal.game' | translate}}" #singleSelect>
            <mat-option>
                <ngx-mat-select-search [formControl]="gameFilterCtrl"></ngx-mat-select-search>
            </mat-option>

            @for (game of games; track games) {
            <mat-option [value]="game">{{game.name}}</mat-option>
            }
        </mat-select>

    </mat-form-field>

    <button mat-raised-button (click)="addGameToUser()">{{'game.addModal.addGame' | translate}}</button>

</mat-dialog-content>