.mat-card {
    /* width: auto;
    padding: 5px; */

    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 400px;
    font-family: sans-serif;
    position: relative;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);


}

.description-input {
    width: fit-content;
    resize: none;
    height: 50px;
    width: 325px;

}


.user-info {
    display: inline-block;
    align-items: start;
    width: fit-content;
    height: fit-content;
}

.buttons {
    display: flex;
    align-items: center;
    margin-right: 0px;
    margin-left: auto;
}