.flexbox-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;

}

.role-card {
    margin: 5px;
    width: auto;
}

.p {
    margin-left: 10px;
}

.save-icon {
    margin-left: auto;
}


.user-role-card {
    padding: 5px;
    margin: 5px;
}