<div class="side-div">
    @if (formIsInvalid) {
    <mat-error>{{'userDetail.invalidForm' | translate}}*</mat-error>
    }
    <mat-icon type="submit" (click)="saveUserDetails()" class="top-right-icon" aria-hidden="false" aria-label="save"
        fontIcon="save"> </mat-icon>

    <div class="form-div">
        <form [formGroup]="userInfoForm">

            <div>
                <p> {{'userDetail.username' | translate}}*</p>
                <mat-form-field>
                    <input matInput [formControl]="userInfoForm.controls.username">

                </mat-form-field>
            </div>

            <div>
                <p> {{'userDetail.email' | translate}}*</p>
                @if(isInvalidEmail){
                <mat-error>{{'userDetail.invalidEmail' | translate}}</mat-error>
                }
                @if (isAlreadyExistingEmail) {
                <mat-error>{{'userDetail.alreadyExistingEmail' | translate}}</mat-error>
                }
                <mat-form-field>
                    <input matInput [formControl]="userInfoForm.controls.email">

                </mat-form-field>
            </div>

            <div>
                <p>{{'userDetail.firstname' | translate}}*</p>
                <mat-form-field>
                    <input matInput [formControl]="userInfoForm.controls.firstname">

                </mat-form-field>
            </div>
            <p>{{'userDetail.lastname' | translate}}* </p>

            <div>
                <mat-form-field>
                    <input matInput [formControl]="userInfoForm.controls.lastname">

                </mat-form-field>

            </div>
        </form>

        <div>
            <p>{{'userDetail.role' | translate}} </p>
            <mat-form-field>
                <input matInput [formControl]="userInfoForm.controls.role">
            </mat-form-field>
        </div>
    </div>
    @if(isSaving){
    <mat-spinner class="mat-spinner"> </mat-spinner>
    }
</div>

<div class="side-div">
    <button mat-raised-button (click)="navToChangePasswordPage()">{{'userDetail.changePassword' | translate}}</button>

</div>