<div class="side-div">
    @if (formIsInvalid) {
    <mat-error> {{'userDetail.invalidForm' | translate}}*</mat-error>
    }
    <mat-icon type="submit" (click)="saveUserDetails()" class="top-right-icon" aria-hidden="false" aria-label="save"
        fontIcon="save"> </mat-icon>

    <form [formGroup]="userInfoForm">

        <p> {{'userDetail.username' | translate}}*</p>
        <mat-form-field>
            <input matInput [formControl]="userInfoForm.controls.username">


        </mat-form-field>
        <p> {{'userDetail.email' | translate}}*</p>
        @if(isInvalidEmail){
        <mat-error>{{'userDetail.invalidEmail' | translate}}</mat-error>
        }
        <mat-form-field>
            <input matInput [formControl]="userInfoForm.controls.email">

        </mat-form-field>


        <p> {{'userDetail.firstname' | translate}}*</p>
        <mat-form-field>
            <input matInput [formControl]="userInfoForm.controls.firstname">

        </mat-form-field>

        <p> {{'userDetail.lastname' | translate}}* </p>

        <mat-form-field>
            <input matInput [formControl]="userInfoForm.controls.lastname">

        </mat-form-field>
    </form>

    <p> {{'userDetail.role' | translate}}* </p>
    <mat-form-field>
        <input matInput [formControl]="userInfoForm.controls.role">
    </mat-form-field>



    @if(isSaving){
    <mat-spinner class="mat-spinner"> </mat-spinner>
    }
</div>

<div>
    <button (click)="navToChangePasswordPage()"> {{'userDetail.changePassword' | translate}}</button>

</div>