<div fxLayoutAlign="center center" fxFlexFill class="main-div">
    <mat-card fxflex="25">

        <form (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column" class="login-form">
            <mat-toolbar color="primary">Login </mat-toolbar>
            <mat-form-field>
                <input matInput placeholder="email" id="email" [(ngModel)]="email" name="email">
            </mat-form-field>

            <mat-form-field>
                <input matInput type="password" placeholder="password" id="password" [(ngModel)]="password"
                    name="password">
            </mat-form-field>

            <button mat-button type="submit" class="submit-button">Login</button>
        </form>
    </mat-card>
</div>