<div fxLayoutAlign="center center " fxFlexFill class="main-div">
    <mat-card fxflex="25">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxLayoutAlign="stretch" fxLayout="column"
            class="login-form">
            <mat-toolbar color="primary">{{'login.login' | translate}} </mat-toolbar>
            @if (displayEmailError) {
            <mat-error>{{'login.invalidEmail' | translate}}</mat-error>
            }
            <mat-form-field>
                <input [formControl]="loginForm.controls.email" matInput placeholder="{{'login.email' | translate}}"
                    id="email" name="email">

            </mat-form-field>

            @if (displayPasswordError) {
            <mat-error>{{'login.invalidPassword' | translate}}</mat-error>
            }
            <mat-form-field>
                <input [formControl]="loginForm.controls.password" matInput type="password"
                    placeholder="{{'login.password' | translate}}" id="password" name="password">
            </mat-form-field>

            @if (displayAuthError) {
            <mat-error>{{'login.invalidLogin' | translate}}</mat-error>
            }

            <button mat-button type="submit" class="submit-button">{{'login.login' | translate}}
            </button>
            @if(isLoggingIn){
            <mat-spinner class="mat-spinner"> </mat-spinner>
            }
        </form>
    </mat-card>
</div>