.custom-form-field {
    display: flex;
    flex-direction: column;
}

.custom-label {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 4px;
    color: #333;
}



.close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    color: black;
}